
<!-- <div class="container"> -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Track Order</h3>
            <p>#234234</p>
        </div>
        <div class="card-body p-4">
            <ul class="events">
                <li>
                    <time datetime="10:03" class="completed">10:03</time>
                    <span class="completed"><strong>Bat &amp; Ball</strong> On time</span></li>

                <li>
                    <time datetime="10:03">10:03</time>
                    <span><strong>Bat &amp; Ball</strong> On time</span></li>

                <li>
                    <time datetime="10:03">10:03</time>
                    <span><strong>Bat &amp; Ball</strong> On time and other text that may span over 2 lines</span></li>

                <li>
                    <time datetime="10:03">10:03</time>
                    <span><strong>Bat &amp; Ball</strong> On time</span></li>

                <li>
                    <time datetime="10:03">10:03</time>
                    <span><strong>Bat &amp; Ball</strong> On time</span></li>

                <li>
                    <time datetime="10:03">10:03</time>
                    <span><strong>Bat &amp; Ball</strong> On time</span></li>
            </ul>
        </div>
    </div>

<!-- </div> -->